@import 'normalize/normalize';
@import 'utils/variables';
@import 'utils/utils';
@import 'components/logo';
@import 'components/header';
@import 'components/hero';
@import 'components/specials';
@import 'components/activity';
@import 'components/team';
@import 'components/costumers';
@import 'components/footer';
@import 'components/modal';
@import 'components/portfolio';
