.costumers {
  padding: 94px 0;
}

.costumers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.costumers__list {
  display: flex;
  justify-content: space-between;
}

.costumer__item {
  display: block;
}

.costumer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: $grey-fill-color;
  border: 1px solid $grey-fill-color;
  border-radius: 4px;

  &:hover,
  &:focus {
    fill: $accent-hover-color;
    border: 1px solid $accent-hover-color;
    transition: fill $duration $timing-function;
  }
}

.costumer__icon {
  width: 106px;
  height: 60px;
}
