.page-footer {
  padding: 60px 0;
  display: block;
  background: $main-background-color;
}

.footer-container {
  display: flex;
}

.footer__logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer__accent {
  color: $secondary-color;
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  color: $secondary-color;
}

.footer__location {
  margin-top: 20px;
}

.footer__item {
  padding-top: 9px;
}

.footer__link {
  color: $third-text-color;
  font-size: 14px;
  line-height: 1.71;

  &:hover,
  &:focus {
    color: $accent-hover-color;
    transition: color $duration $timing-function;
  }
}

.footer-networks {
  margin-left: 70px;
  padding-top: 12px;
}

.footer-networks__title {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $secondary-color;
}

.footer-networks__list {
  display: flex;
}

.footer-networks__item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $fourth-color;

  &:nth-child(-n + 3) {
    margin-right: 10px;
  }
}

.footer-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  &:hover,
  &:focus {
    background-color: $accent-hover-color;
    transition: background-color $duration $timing-function;
  }
}

.footer-networks__icon {
  width: 20px;
  height: 20px;
  fill: $secondary-color;
}

.footer-form {
  margin-left: 93px;
  padding-top: 12px;
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-color;
}

.footer-form__sign-up {
  display: flex;
  margin-top: 20px;
}

.footer-form__input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  background-color: transparent;
  border: 1px solid $border-color;
  color: $secondary-color;
  filter: drop-shadow(0px 4px 4px $shadow);
  border-radius: 4px;
  transition: border-color $duration $timing-function;

  &:focus {
    outline: none;
    border-color: $accent-hover-color;
  }
  &::placeholder {
    line-height: 1.25;
    color: $third-text-color;
  }
}

.footer__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $secondary-color;
  background-color: $accent-hover-color;
  border: none;
  box-shadow: 0px 4px 4px $shadow;
  border-radius: 4px;
}

.footer-icon__send {
  margin-left: auto;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
