.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--dominant-color);
}

.logo__accent {
  color: $accent-hover-color;
}
