.team {
  padding: 94px 0;
  background-color: $second-background-color;
}

.team__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.team__wrap {
  padding: 30px 32px;
}

.team__list {
  display: flex;
  background-color: $second-background-color;
}

.team__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  min-width: 270px;
  text-align: center;
  background-color: $secondary-color;

  &:last-child {
    margin-right: 0;
  }
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__position {
  margin-top: 10px;
  color: $alt-text-color;
}

.networks__list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.networks__item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  fill: $grey-fill-color;

  &:hover,
  &:focus {
    background-color: $accent-hover-color;
    border-radius: 50%;
    fill: $secondary-color;
    transition: fill $duration $timing-function;
  }
}

.networks__icon {
  width: 20px;
  height: 20px;
}
